@model ChefDemo.Models.Index

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr>
        <td>First Name</td>
        <td>@Html.TextBoxFor(m=>m.FirstName)</td>
        <td>Last Name</td>
        <td>@Html.TextBoxFor(m=>m.LastName)</td>
    </tr>
</table>
